Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  modernize-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: none

