Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  modernize-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -clang-analyzer-security.insecureAPI.*,
  -cppcoreguidelines-avoid-non-const-global-variables

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
FormatStyle: none
