Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  modernize-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -clang-analyzer-security.insecureAPI.*

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
FormatStyle: none

