# Build artifacts
/build/
*.o
*.out
*.exe
*.a
*.so
*.log
*.dSYM/

# Editor/IDE temp files
*~
*.swp
*.swo
*.bak
*.tmp

# VSCode settings (optional, if you use it)
.vscode/

# MacOS system files
.DS_Store

# Docker-related
*.tar
**/.dockerignore
